<div class="blocker"></div>
<h1 class="h1_start">Lass dich inspirieren!</h1>

{{#events}}
  <hr />
  <h3>{{event_name}}</h3>
  <p>{{description}}</p>
{{/events}}

<div class="container_home">
{{#photos}}
  <div class="image-container"><img src="uploads/{{image}}" class="thumbnail" /></a></div>
{{/photos}}
</div>



<form action="/likes/{{id}}" enctype="multipart/form-data" method="POST">
  <input type="image" src="heart.png">
</form

<p>{{likes.count}} Likes</p>
